<template name="event">
  <li>
    <time class="cbp_tmtime" datetime="2013-04-10 18:30">
      <span class="date">today</span>
      <span class="time">10:05 <span class="semi-bold">am</span></span>
    </time>
    <div class="cbp_tmicon primary animated bounceIn"><i class="fa fa-comments"></i></div>
    <div class="cbp_tmlabel">
      <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
        <h4 class="inline m-b-5"><span class="text-success semi-bold">Jane smith</span></h4>
        <h5 class="inline muted semi-bold m-b-5">@johnsmith</h5>

        <div class="muted">Shared publicly - 12:45pm</div>
        <p class="m-t-5 dark-text"> Painter Lucian Freud was also born on December 8th a few years later - in
          1922.
          Here's his "Girl with Roses" </p>
      </div>
      <div class="clearfix"></div>
      <div class="tiles grey p-t-10 p-b-10 p-l-20">
        <ul class="action-links">
          <li>Like</li>
          <li>Comment</li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </li>
</template>