<template name="eventSubmitForm">

  <div class="col-md-6">
    <h3>Input <span class="semi-bold">Masks</span></h3>
    <p>These assure the user will never enter invalid phone no, email or anything that has a pattern even without validations</p>
    <br>
    <div class="form-group">
      <label class="form-label">Date</label>
      <span class="help">e.g. "25/12/2013"</span>
      <div class="controls">
        <input type="text" class="form-control" id="date">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Telephone</label>
      <span class="help">e.g. "(324) 234-3243"</span>
      <div class="controls">
        <input type="text" class="form-control" id="phone">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Custom</label>
      <span class="help">e.g. "23-4324324"</span>
      <div class="controls">
        <input type="text" class="form-control" id="tin">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Social Security Number</label>
      <span class="help">e.g. "432-43-2432"</span>
      <div class="controls">
        <input type="text" placeholder="You can put anything here" class="form-control" id="ssn">
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Save</button>
      <button class="btn btn-white btn-cons" type="button">Cancel</button>
    </div>
  </div>


</template>