<template name="eventSubmitForm">

  <div class="col-md-4 pull-right">
    <h3>Create <span class="semi-bold">Event</span></h3>

    <p>Simple form to create a new event (To be moved!)</p>
    <br>

    <form class="main">
      <div class="row form-row">
        <div class="col-md-12">
          <input name="title" id="title" type="text" class="form-control" placeholder="Title">
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-12">
          <input name="summary" id="summary" type="text" class="form-control" placeholder="Summary">
        </div>
      </div>
      <div class="row form-row ">
        <div class="col-md-12">
          <input name="start" id="start" type="text" class="form-control" placeholder="Start">
          <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
        </div>
      </div>
      <div class="row form-row ">
        <div class="col-md-12">
          <input name="end" id="end" type="text" class="form-control" placeholder="End">
          <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-12">
          <input id="invited" name="invited" type="text" value="" class="form-control"
                 placeholder="invited"/>
        </div>
      </div>
      <div class="pull-right">
        <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Save</button>
        <button class="btn btn-white btn-cons" type="button">Cancel</button>
      </div>
    </form>

    <!--<textarea id="text-editor" placeholder="Enter text ..." class="form-control" rows="10"></textarea>-->

  </div>

</template>