<template name="eventSubmitBody">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <br>
        <i class="icon-credit-card icon-7x"></i>
        <h4 id="myModalLabel" class="semi-bold">We need your billing info.</h4>

        <p class="no-margin">You'll be charged $29/Month and get immediate access to new plan </p>
        <br>
      </div>
      <div class="modal-body">

        <div class="row form-row">
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Your Card Number">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="CVS">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Card Holder's Name">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Month">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Year">
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create Event</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->



</template>