.page-content {
    margin: 0;
}

.grid-title h4 {
    overflow: inherit;
}

.h4-timeline {
    /*overflow: inherit;*/
    width: auto !important;
    font-size: 18px !important;
}

.timeline .grid-title .tools > a:hover{
    color: red;
}