<template name="headerSeparation">
  <div class="header-seperation">
    <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
      <li class="dropdown"><a id="main-menu-toggle" href="#main-menu" class="">
        <div class="iconset top-menu-toggle-white"></div>
      </a></li>
    </ul>
    <!-- BEGIN LOGO -->
    <a href="index.html"><img src="/packages/squiddy-dependency/public/assets/img/logo.png" class="logo" alt=""
                              data-src="/packages/squiddy-dependency/public/assets/img/logo.png"
                              data-src-retina="/packages/squiddy-dependency/public/assets/img/logo2x.png" width="106"
                              height="21"/></a>
    <!-- END LOGO -->
    <ul class="nav pull-right notifcation-center">
      <li class="dropdown" id="header_task_bar"><a href="index.html" class="dropdown-toggle active" data-toggle="">
        <div class="iconset top-home"></div>
      </a></li>
      <li class="dropdown" id="header_inbox_bar"><a href="email.html" class="dropdown-toggle">
        <div class="iconset top-messages"></div>
        <span class="badge" id="msgs-badge">2</span> </a></li>
      <li class="dropdown" id="portrait-chat-toggler" style="display:none"><a href="#sidr" class="chat-menu-toggle">
        <div class="iconset top-chat-white "></div>
      </a></li>
    </ul>
  </div>
</template>