<template name="headerLeft">
  <!-- BEGIN TOP NAVIGATION MENU -->
  <div class="pull-left">
    <ul class="nav quick-section">
      <li class="quicklinks">
        <a href="#" class="" id="layout-condensed-toggle">
          <div class="iconset top-menu-toggle-dark"></div>
        </a>
      </li>
    </ul>
    <ul class="nav quick-section">
      <li class="quicklinks">
        <a href="#" class="">
          <div class="iconset top-reload"></div>
        </a>
      </li>
      <li class="quicklinks"><span class="h-seperate"></span></li>
      <li class="quicklinks">
        <a href="#" class="">
          <div class="iconset top-tiles"></div>
        </a>
      </li>
      <li class="m-r-10 input-prepend inside search-form no-boarder">
        <span class="add-on"> <span class="iconset top-search"></span></span>
        <input name="" type="text" class="no-boarder " placeholder="Search Dashboard" style="width:250px;">
      </li>
      <!--<li class="quicklinks">-->
      <!--</li>-->
    </ul>
  </div>
  <!-- END TOP NAVIGATION MENU -->
</template>